# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# QGIS temporary files
*.pyc
*.bak
*.zip

# OS files
.DS_Store
Thumbs.db
